.App{
    font-family: "Poppins", sans-serif;
}

.body{
    font-family: "Poppins", sans-serif;
}

.css-0 {
    display: flex;
    font-family: "Poppins", sans-serif;
}

.stat-icon{
    margin-left: 30px;
    text-align: left;
}

.AI{
    color:#44924c;
}

